*{
    margin: 0vw;
    padding: 0vw;
}
body{
    background-image: radial-gradient(circle, #f2f6f7, #eaedee, #e2e5e5, #dadcdd, #d2d4d4, #c5cfd0, #b8cbcb, #aac6c7, #92c4c6, #76c1c6, #52bfc6, #00bcc6);
}

/* BOTONES HEADER */

.hoverBoton:hover {
    background-color: #434947 !important;
}
.hoverBoton:active {
    background-color: #202322 !important;
}

footer{
    background-color: black;
    min-height: 10px;
}
.footer-logo{
    height: 60px;
    width: 350px;
    margin:30px;
}
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 20px;
    border:2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid cyan;
}

.iconos-redes-sociales a:hover i{
    color: black;
}
.derechos-de-autor{
    font-size: 15px;
    color:white;
    text-decoration: none;
}

@media (max-width: 600px) {
    .container .box:hover .contenido {
      transform: translate(0, 3.5rem);
    }
    .container .box:hover .imgBox {
      transform: translate(0, -3.5rem);
    }
  }
  
  @media screen and (max-width: 991px) {
      .dropdownStyles {
          margin-left: 0.5rem !important;
          margin-top: 0.5rem !important;
      }
      .offCanvasStyles {
          display: flex !important;
          flex-direction: column;
          justify-content: center !important;
      };
  };
  .NombreMedico{
    margin-left: 25rem !important; 
  }


/* MODAL */
.modal-backdrop {
    display: none;
  }