*{
    margin: 0.2vw;
    padding: 0.1vw;
}
body{
    background-image: radial-gradient(circle, #f2f6f7, #eaedee, #e2e5e5, #dadcdd, #d2d4d4, #c5cfd0, #b8cbcb, #aac6c7, #92c4c6, #76c1c6, #52bfc6, #00bcc6);
}
h3{
    padding: 1vw;
    margin-left: 11vw;
    font-family: 'Noto Sans Cham', sans-serif;
    font-size:xx-large;
    justify-content: center;
}
.padreCol{
    display: flex;
    margin: 10vw;
    margin-top: 1vw;
    padding-left: 2vw;
    border-radius: 3vw;
    box-shadow: 3px 2px 25px -1px #000000;
    width: 80vw;
    
}
.col1{
 display: flex;
 flex-direction: column;
 padding: 1vw;
}
.pie{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 4vw;
}
#oSocial{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.enviar{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
    background: linear-gradient(rgb(13, 121, 82),rgb(120, 142, 193));
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 1.5vw;
}  
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagen{
    margin-top: 1vw;
}
.fotoform{
    margin-top: 5vw;
    border-radius: 3vw;
    margin: 2vw;
    margin-left: 3vw;
}
input:hover{
    background-color: #3a6c6d;
    color: #b4b2b3;
}
@media(max-width: 800px){
    .padreCol{
        display: flex;
        width: auto;
        margin:4vw;
    }
    .col1{
        width: 65vw;
        margin-left: 6vw;
    }
    label{
        font-size: 4vw;
    }
    .imagen{
        display: none;
    }
    .enviar{
        display: flex;
        justify-content: center;
        margin-left:3vw
    }
} 
