body{
    background-image: radial-gradient(circle, #f2f6f7, #eaedee, #e2e5e5, #dadcdd, #d2d4d4, #c5cfd0, #b8cbcb, #aac6c7, #92c4c6, #76c1c6, #52bfc6, #00bcc6);
}

/* BOTONES HEADER */
.hoverBoton:hover {
    background-color: #434947 !important;
}
.hoverBoton:active {
    background-color: #202322 !important;
}

h3{
    padding: 1vw;
    margin-left: 11vw;
    font-family: 'Noto Sans Cham', sans-serif;
    font-size:xx-large;
    justify-content: center;
}
/*PADRE*/
.padreCol{
    display: flex;
    margin: 10vw;
    margin-top: 1vw;
    padding-left: 2vw;
    border-radius: 3vw;
    box-shadow: 3px 2px 25px -1px #000000;
    width: 80vw;
    
}
/*COLUMNA1 FORM*/
.col1{
 display: flex;
 flex-direction: column;
 margin-left: 3vw;
 margin-top: 2vw;
 padding: 1vw;
}
.pie{
    display: flex;
    flex-direction: column;
    justify-content:center;
   
}
#oSocial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.enviar{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    margin-left: 2vw;
     width: 25vw; 
}
.label-input{
    font-weight: bold;
    background: linear-gradient(rgb(13, 121, 82),rgb(120, 142, 193));
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 1.5vw;
}  
 /* .avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
input:hover{
    background-color: white;
}
/*IMAGEN FORM*/
.fotoform{
    margin-top: 3vw;
    border-radius: 3vw;
    margin: 2vw; 
    margin-left: 5vw;
}
/*ICONOS FOOTER*/
footer{
    background-color: black;
    min-height: 10px;
}
.footer-logo{
    height: 60px;
    width: 350px;
    margin:30px;
}
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 20px;
    border:2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid cyan;
}

.iconos-redes-sociales a:hover i{
    color: black;
}
.derechos-de-autor{
    font-size: 15px;
    color:white;
    text-decoration: none;
}
/*MEDIA QUERY*/
@media (max-width: 1024px){
    .padreCol{
        display: flex;
        width: auto;
        margin:4vw;
    }
    .col1{
        width: 65vw;
        margin-left: 6vw;
    }
    .label-input{
        font-size: 3.5vw;
    }
    .imagen{
        display: none;
    }
    .enviar{
        display: flex;
        justify-content: center;
        margin-left:22vw
    }
} 
@media screen and (max-width: 991px) {
    .dropdownStyles {
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
    }
    .offCanvasStyles {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
    }
}